<h1>Demo#index</h1>
<p>Find me in app/views/demo/index.html.erb</p>
<% str = "Good Night!" %>
<%= "Hello #{@str2}, #{str}" %>
<br>
<%= link_to("Print", {:action => "print", :id => 1314, :name => "bxw"}) %>
