<h1>Demo#print</h1>
<p>Find me in app/views/demo/print.html.erb</p>
<!-- <a href="/demo/index">Back To Index</a> -->
<%= link_to("Back To Index", {action: "index"}) %>
<br>
<p>ID: <%= @id %></p>
<br>
<p>Name: <%= @name %></p>
